@(responses: List[models.Response], responseForm: Form[models.Response])

@import helper._

@main("static responses") {
 
    @if(responseForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops</strong> Please fix all errors</p>
        </div>
    }
       
    <h1>@responses.size response(s)</h1>
    
    <ul>
        @responses.map { response =>
            <li>
                @response.requestUri
                
		@response.response

                @form(routes.Application.deleteResponse(response.id.get)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new response</h2>
    
    @form(routes.Application.newResponse) {
        
        @inputText(responseForm("requestUri")) 
        @inputText(responseForm("response")) 
        
        <input type="submit" value="Create">
        
    }
    
}
